/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #2EAFAC;
}

.big-text {
  font-size: 1.5rem;
}

.slower {
  --blink-animation-duration: 1s;
}

pre {
  font-size: 1.5em;
  background-color: black;
  color: white;
  overflow: auto;
}